<section class="page-section" id="contact">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contacto</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Nombre" data-sb-validations="required" />
                        <label for="name">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email</label>
                   
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Mensaje" style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Mensaje</label>
                        
                    </div>
                   
                 
                  
                    <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
