

  




<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"  data-aos="fade-down">Nuestros Productos</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
  
           <ul id="autoWidth" class="cs-hidden"  data-aos="fade-down">
              <li class="item-a" data-thumb="../assets/img/carrusel/s1.png" data-src="../assets/img/carrusel/s1.png">
                <a [routerLink]="['/second-component', producto1, img1]" routerLinkActive="active">
                <div class="col-md-12 col-lg-12 mb-12">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h5>
                            <i class="  fa fa-eye fa-5x"></i> <br>Tu Producto</h5></div>
                        </div>
                        <img class="img-fluid carrusel" src="../assets/img/carrusel/s1.png" alt="..." />
                    </div>
                </div>
                </a>
              </li>
               <li class="item-a" data-thumb="../assets/img/carrusel/s2.png" data-src="../assets/img/carrusel/s2.png">
                <a [routerLink]="['/second-component', producto2, img2]" routerLinkActive="active">
                <div class="col-md-12 col-lg-12 mb-12">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h5>
                            <i class="  fa fa-eye fa-5x"></i> <br>Tu producto</h5></div>
                        </div>
                        <img class="img-fluid carrusel2" src="../assets/img/carrusel/s2.png" alt="..." />
                    </div>
                </div>
                </a>
              </li>
               <li class="item-a" data-thumb="../assets/img/carrusel/s3.png" data-src="../assets/img/carrusel/s3.png">
                <a [routerLink]="['/second-component', producto3, img3]" routerLinkActive="active">
                <div class="col-md-12 col-lg-12 mb-12">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h5>
                            <i class="  fa fa-eye fa-5x"></i> <br>Tu producto</h5></div>
                        </div>
                        <img class="img-fluid carrusel3" src="../assets/img/carrusel/s3.png" alt="..." />
                    </div>
                </div>
                </a>
              </li>
               <li class="item-a" data-thumb="../assets/img/carrusel/s4.png" data-src="../assets/img/carrusel/s4.png">
                <a [routerLink]="['/second-component', producto4, img4]" routerLinkActive="active">
                <div class="col-md-12 col-lg-12 mb-12">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h5>
                            <i class="  fa fa-eye fa-5x"></i> <br>Tu producto</h5></div>
                        </div>
                        <img class="img-fluid carrusel4" src="../assets/img/carrusel/s4.png" alt="..." />
                    </div>
                </div>
                </a>
              </li>
               <li class="item-a" data-thumb="../assets/img/carrusel/s5.png" data-src="../assets/img/carrusel/s5.png">
                <a [routerLink]="['/second-component', producto5, img5]" routerLinkActive="active">
                <div class="col-md-12 col-lg-12 mb-12">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h5>
                            <i class="  fa fa-eye fa-5x"></i> <br>Tu producto</h5></div>
  
                        </div>
                        <img class="img-fluid carrusel4" src="../assets/img/carrusel/s5.png" alt="..." />
                    </div>
                </div>
                </a>
              </li>
  
          </ul>
        </div>
    </div>
  </section>
  
  
  <section class="page-section portfolio" id="portfolio"  data-aos="fade-down">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">EXCLUSIVOS</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-2 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#ep1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="../assets/img/exclusivo/ep1.PNG" alt="..." />
                </div>
            </div>
            <div class="col-md-6 col-lg-2 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#ep2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="../assets/img/exclusivo/ep2.PNG" alt="..." />
                </div>
            </div>
            <div class="col-md-6 col-lg-2 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#ep3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="../assets/img/exclusivo/ep3.PNG" alt="..." />
                </div>
            </div>
             <div class="col-md-6 col-lg-2 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#ep4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="../assets/img/exclusivo/ep4.PNG" alt="..." />
                </div>
            </div>
             <div class="col-md-6 col-lg-2 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#ep5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="../assets/img/exclusivo/ep5.PNG" alt="..." />
                </div>
            </div>
             <div class="col-md-6 col-lg-2 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#ep6">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="../assets/img/exclusivo/ep6.PNG" alt="..." />
                </div>
            </div>
  
        
        </div>
    </div>
  </section>
  
  
  <section class="page-section bg-primary text-white mb-0" id="about"  data-aos="fade-down" style="background-image:url('../assets/img/exclusivo/ft1.PNG');">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                 <img class="img-fluid rounded mb-5" src="assets/img/exclusivo/b1.png" alt="..." />
            </div>
            <div class="col-lg-6">
                <br>
                <br>
                <h2 class="page-section-heading text-center text-uppercase text-white">title chocolate</h2>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 ms-auto"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent iaculis, dui sed consectetur vestibulum, mauris augue blandit ante, id iaculis turpis neque eu neque. Vestibulum malesuada dui id augue placerat faucibus. Maecenas ac libero odio. Integer eget tincidunt mauris.</p></div>
                  
                </div>
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="">
                       
                        Mas informacion
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  
  
  
  
  
  
  <!--  <nav>
    <ul>
      <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>
      <li><a [routerLink]="['/second-component', producto1]" routerLinkActive="active">Second Component</a></li>
    </ul>
  </nav>
  
  {{producto1}}
  <h2 class="verde">verde</h2>
  <router-outlet></router-outlet>-->

  