

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"  data-aos="fade-down">Nuestros Productos</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
  
           <ul id="autoWidth" class="cs-hidden"  data-aos="fade-down">
              <li class="item-a" data-thumb="../assets/img/carrusel/s1.png" data-src="../assets/img/carrusel/s1.png">
                <a [routerLink]="['/second-component', producto1, img1]" routerLinkActive="active">
                <div class="col-md-12 col-lg-12 mb-12">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h5>
                            <i class="  fa fa-eye fa-5x"></i> <br>Tu Producto</h5></div>
                        </div>
                        <img class="img-fluid carrusel" src="../assets/img/carrusel/s1.png" alt="..." />
                    </div>
                </div>
                </a>
              </li>
               <li class="item-a" data-thumb="../assets/img/carrusel/s2.png" data-src="../assets/img/carrusel/s2.png">
                <a [routerLink]="['/second-component', producto2, img2]" routerLinkActive="active">
                <div class="col-md-12 col-lg-12 mb-12">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h5>
                            <i class="  fa fa-eye fa-5x"></i> <br>Tu producto</h5></div>
                        </div>
                        <img class="img-fluid carrusel2" src="../assets/img/carrusel/s2.png" alt="..." />
                    </div>
                </div>
                </a>
              </li>
               <li class="item-a" data-thumb="../assets/img/carrusel/s3.png" data-src="../assets/img/carrusel/s3.png">
                <a [routerLink]="['/second-component', producto3, img3]" routerLinkActive="active">
                <div class="col-md-12 col-lg-12 mb-12">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h5>
                            <i class="  fa fa-eye fa-5x"></i> <br>Tu producto</h5></div>
                        </div>
                        <img class="img-fluid carrusel3" src="../assets/img/carrusel/s3.png" alt="..." />
                    </div>
                </div>
                </a>
              </li>
               <li class="item-a" data-thumb="../assets/img/carrusel/s4.png" data-src="../assets/img/carrusel/s4.png">
                <a [routerLink]="['/second-component', producto4, img4]" routerLinkActive="active">
                <div class="col-md-12 col-lg-12 mb-12">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h5>
                            <i class="  fa fa-eye fa-5x"></i> <br>Tu producto</h5></div>
                        </div>
                        <img class="img-fluid carrusel4" src="../assets/img/carrusel/s4.png" alt="..." />
                    </div>
                </div>
                </a>
              </li>
               <li class="item-a" data-thumb="../assets/img/carrusel/s5.png" data-src="../assets/img/carrusel/s5.png">
                <a [routerLink]="['/second-component', producto5, img5]" routerLinkActive="active">
                <div class="col-md-12 col-lg-12 mb-12">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><h5>
                            <i class="  fa fa-eye fa-5x"></i> <br>Tu producto</h5></div>
  
                        </div>
                        <img class="img-fluid carrusel4" src="../assets/img/carrusel/s5.png" alt="..." />
                    </div>
                </div>
                </a>
              </li>
  
          </ul>
        </div>
    </div>
  </section>
